.containerMenuBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1117;
    
    
}



.containerRepositories{
    width: 100%;
    max-width: 1250px;
    background-color: #0d1117;
}

.navOfPages{
    
    margin: 3% 3%;
}

.navItens{

    text-decoration: none;
    cursor: pointer;
    margin: auto 1%;
    color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 10px;
}


.navItens:hover{
    text-decoration: none;
    color: white;
    background-color: #2a3038;
}


.profile{
    background-color: #0d1117;
    padding: 3% 0%;
    max-width: 300px;
   
}

.profileInformations{
    display: flex;
    color: aliceblue;
    margin-bottom: 5%;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
  

}


.filterSearch{
    display: flex;
    padding: 2% 0;

}

.filterSearch .filtersDropDowns{
    display: flex;
    gap: 2%;
    
}

.filterSearch .filtersDropDowns button{
    background-color: gray;
    margin: 0;
    
    
   
    
}

.filtersDropDownsItem{
    display: flex;
    
}

.filtersDropDownsItem div{
    
    padding: 0;
   
   
}

.inputNew input{
    background-color: aquamarine;
}


.filterSearchInput{
    min-width: 510px;
    height: 100%;
}

.profileItem{
    margin-top: 0%;
    color: rgb(153, 153, 153);
    
}



.editProfile{
    margin: 0 0%;
    width: 100%;
    background-color: #21262d;
    font-size: 13px;
    font-weight: bold;
    color: #f7f9fc;
    border: solid 1px rgba(128, 128, 128, 0.555);
}

.profileAvatar{
    margin-bottom: 10px;
}


.avatar{
    max-width: 290px;
}

@media only screen and (max-width: 800px){

    .containerMenuBar{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #161b22;
        border: none;
        width: 100%;
        margin: 0;
        padding: 2%;
    }

    .containerRepositories{
        width: 100%;
        max-width: 1250px;
        background-color: #161b22;
        border: none;
    }
    

    .profile{
        background-color: #161b22;
        max-width: 100%;
        width: 100%;
       
    }

    .avatar{
        width: 100%;
    }

    .profileAvatar{
        max-width: 80px;
        display: block;
    }

    .userName{
        margin-top: 3%;
        
    }

    .editProfile{
        margin: 0;
        max-width: 100%;
    }

    .filterSearchInput{
        min-width: 100%;
    }

}
